@import "tailwindcss";

@theme {
  --color-primary: var(--tg-bg-color);
  --color-secondary: var(--tg-theme-secondary-bg-color);

  --color-link: var(--tg-theme-link-color);
  --color-accent: var(--tg-theme-accent-text-color);
  --color-hint: var(--tg-theme-hint-color);
  --color-button: var(--tg-theme-button-color);
  --color-default: var(--tg-theme-text-color);

  --animate-fadeIn: fadeIn 0.3s ease-in-out forwards;
  --animate-fadeOutHidden: fadeOutHidden 0.15s ease-in-out forwards;
  --animate-delayZindex: delayZindex 0.5s ease-in-out forwards;
  --animate-slideUp: slideUp 0.3s ease-in-out forwards;
  --animate-slideDown: slideDown 0.3s ease-in-out forwards;
  --animate-blink: blink 1s ease-in-out infinite;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutHidden {
    0% {
      opacity: 1;
      display: block;
    }
    99% {
      opacity: 0;
      display: block;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  @keyframes delayZindex {
    0% {
      z-index: 1;
    }
    99% {
      z-index: 1;
    }
    100% {
      z-index: -10;
    }
  }

  @keyframes slideUp {
    0% {
      display: block;
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    99% {
      display: block;
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
      display: none;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

[data-theme="pink"] {
  --color-primary: #38282f;
  --color-secondary: #251a1f;

  --color-link: #d884b1;
  --color-accent: #e58cbc;
  --color-hint: #96848c;
  --color-button: #e07db1;
  --color-default: #fff;
}

[data-theme="blue"] {
  --color-primary: #232e39;
  --color-secondary: #161f25;

  --color-link: #6ab0d7;
  --color-accent: #71bbe4;
  --color-hint: #7f8c97;
  --color-button: #60b0e1;
  --color-default: #fff;
}

[data-theme="green"] {
  --color-primary: #1f3421;
  --color-secondary: #142214;

  --color-link: #5dc35a;
  --color-accent: #63cf5f;
  --color-hint: #79927a;
  --color-button: #51cc4f;
  --color-default: #fff;
}

[data-theme="purple"] {
  --color-primary: #30203c;
  --color-secondary: #1f1528;

  --color-link: #a764f8;
  --color-accent: #b36aff;
  --color-hint: #8c7d99;
  --color-button: #ac57ff;
  --color-default: #fff;
}

[data-theme="white"] {
  --color-primary: #fff;
  --color-secondary: #f0f0f0;

  --color-link: #328ae5;
  --color-accent: #3e96e8;
  --color-hint: #a8a8a8;
  --color-button: #50a8eb;
  --color-default: #000;
}

html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  overflow-x: hidden !important;
}

#app {
  z-index: 1;
}

input {
  font-size: 16px;
}

.hidden-input {
  position: fixed; /* Ensure it's out of view */
  top: -1000px; /* Move it off-screen */
  left: -1000px; /* Move it off-screen */
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none; /* Prevent accidental interactions */
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-default, #000) !important;
  background: var(--color-secondary);
  height: 100dvh;
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none; /* Safari and iOS */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.tag-icon {
  width: 40px;
  height: 24px;
  background-color: #3498db;
  position: relative;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}

/* Small circle inside the tag */
.tag-icon::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input--focused {
  animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
}
