@import "tailwindcss";

@theme {
  /* --- backgrounds --- */
  --color-primary: var(--tg-bg-color);
  --color-secondary: var(--tg-theme-secondary-bg-color);
  --color-bezeled: var(--tgui--secondary_fill);
  /*------*/

  --color-link: var(--tg-theme-link-color);
  --color-accent: var(--tg-theme-accent-text-color);
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  color: var(--tg-theme-text-color, black);
  height: 100dvh;
  overflow: hidden;
}
