@import "tailwindcss";

@theme {
  /* --- backgrounds --- */
  --color-primary: var(--tg-bg-color);
  --color-secondary: var(--tg-theme-secondary-bg-color);
  --color-bezeled: var(--tgui--secondary_fill);
  /*------*/

  --color-link: var(--tg-theme-link-color);
  --color-accent: var(--tg-theme-accent-text-color);

  --animate-fadeIn: fadeIn 0.3s ease-in-out forwards;
  --animate-fadeOutHidden: fadeOutHidden 0.3s ease-in-out forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutHidden {
    0% {
      opacity: 1;
      display: block;
    }
    99% {
      opacity: 0;
      display: block;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  color: var(--tg-theme-text-color, black);
  height: 100dvh;
  overflow: hidden;
}
